<!DOCTYPE html>
<html>
  <head>
    <title>ProductApp</title>
    <%= render 'shared/rails_default' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
